SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=kimnguyenthihoang68@gmail.com
SMTP_PASS=yjak xguk sdko gfkr
SMTP_FROM=minlish@gmail.com
GOOGLE_CLIENT_ID=321148794455-qdasnet17vl8sgj3jaanj5n12q7me6ui.apps.googleusercontent.com
